<div class="nav-head nav-down">
  <div class="navbar-marcel">
    <div class="navbar-socialive-left">
      <!-- Logo -->
      <%#= link_to root_path do %>
      <%#= image_tag("logo-marcel-lg.jpg", size: "25") %>
      <%# end %>
      <%#= link_to "Marcel Gourmet Burger", root_path, class:"navbar-socialive-item" %>
    </div>

    <!-- Right Navigation -->
    <div class="navbar-marcel-right">
      <div class="languages-choice" >
        <a id="english" class="" href="/">en</a>
        /
        <a class="" href="/vn">vn</a>
      </div>
        <%#= link_to t(".top_call_to_action", default: "Become a livestreamer"), become_a_livestreamer_path, class: "navbar-socialive-item navbar-socialive-link" %>
    </div>
  </div>
</div>



