<div class="banner" style="background-image: url('<%= image_path("marceltoppic.jpg") %>'); ">
  <div class="banner-content">
    <div class="tagline">
      <p>Welcome to Marcel Gourmet Burger</p>
      <p>Website coming soon</p>
    </div>

    <%= t('hello') %>
<!--     <a id="banner-arrow"><%#=image_tag("arrow.png")%></a>
 -->
   </div>
</div>
